@{
    ViewData["Title"] = "Profilim";

    //string tarihList = "[";
    //@foreach (var item in Model)
    //{
    //    tarihList += "'" + item.tarih.ToShortDateString() + "', ";
    //}
    //tarihList = tarihList.Remove(tarihList.Length - 2) + "]";

    //var endeksList = "[";
    //@foreach (var item in Model)
    //{
    //    endeksList += Convert.ToInt32(item.endeks).ToString() + ",";
    //}
    //endeksList = endeksList.Remove(endeksList.Length - 1) + "]";

    //var kiloList = new List<int>();
    //@foreach (var item in Model)
    //{
    //    kiloList.Add(item.kilo);
    //}
}
@model List<RaporModel>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Bu grafik belirli zamanlardaki kilo ve vücut kitle endeksi değişimlerini göstermektedir.
    </p>
</figure>


<script>

    var deneme = []
    var deneme1 = []
    var deneme2 = []
    var deneme3 = []
    
    deneme.push(@Model.First().kilo)
    deneme.push(@Model.Last().kilo)

    deneme1.push(@Model.First().endeks)
    deneme1.push(@Model.Last().endeks)
    
    deneme2.push(@Model.First().kasKutlesi)
    deneme2.push(@Model.Last().kasKutlesi)

    deneme3.push(@Model.First().tarih)
    deneme3.push(@Model.Last().tarih)



    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Kilo Ve Vücut Kitle Endeksi Değişimi'
        },

        xAxis: {
            categories: deneme3 /*['İlk Rapor', 'Son Rapor']*/
        },
        yAxis: {
            title: {
                text: 'Değişim'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Kilo',
            data: deneme
        }, {
            name: 'Vücut Kitle Endeksi',
            data: deneme1
        }, {
            name: 'Kas Kütlesi',
            data: deneme2
        }]
    });
</script>

<style>

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>



